@charset "UTF-8";
/*Couleur principale (ex:Background) */
/* Couleur secondaire (ex:Texte)*/
/* Valeur pour box-shadow */
/* Valeur qui change la hauteur du footer ET met un margin-bottom de la même valeur pour éviter les chevauchement des contenu*/
/* Style pour les liens du site*/
a {
  text-decoration: none;
  color: #fdcb46;
}
a:hover {
  color: #fdcb46;
  text-decoration: none;
}

/* Style et comportement des liens */
/*Mobile*/
/*Tablettes*/
/*Laptop*/
/* Large laptop*/
/* 4k screen*/
/*Breakpoint des media screen*/
/*Taille du logo du menu*/
/* Variable stocker dans style_menu_(...): couleur_surlignage, bakcground-color, degrade-color */
/* Couleur du surlignage des catégorie entrée, plats, desserts */
/* Fond du menu*/
/* Première couleurs pour le dégradé de certains élément comme le logo*/
/* Deuxième couleurs pour le dégradé de certains élément comme le logo*/
#menu_enchantée {
  background-color: #fcdfdb;
}
#menu_enchantée h1 {
  font-family: Brush Script MT, Brush Script Std, cursive;
}
#menu_enchantée i {
  background: -webkit-gradient(linear, left top, left bottom, from(#f05961), to(#f6916a));
  /* Pour couleur dégradé*/
  background-clip: text;
  /* Pour couleur dégradé*/
  -webkit-background-clip: text;
  /* Pour couleur dégradé*/
  -webkit-text-fill-color: transparent;
  /* Pour couleur dégradé*/
}
#menu_enchantée h2 {
  /* Soulignage des titre h2*/
  text-decoration: none;
  background: linear-gradient(to top, #3d1319 0%, #3d1319 10%, transparent 10.01%) no-repeat left bottom/0 100%;
  transition: background-size 0.5s;
}
#menu_enchantée h2:hover {
  /* Soulignage des titre h2 (hover)*/
  background-size: 100% 100%;
}

/* style unique au menu "la note enchantée"*/
/* Couleur du surlignage des catégorie entrée, plats, desserts */
/* Couleur du surlignage des catégorie entrée, plats, desserts */
/* Couleur du surlignage des catégorie entrée, plats, desserts */
/* Fond du menu*/
/* Première couleurs pour le dégradé de certains élément comme le logo*/
/* Deuxième couleurs pour le dégradé de certains élément comme le logo*/
#menu_chic {
  background-color: #fff5fe;
  /* couleurs du soulignage des titre*/
  /* couleurs du soulignage des titre*/
  /* couleurs du soulignage des titre*/
}
#menu_chic h1 {
  margin-top: 1em;
  background: -webkit-linear-gradient(#df871e, #8f5bfe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#menu_chic .title_block {
  width: 100%;
}
#menu_chic h2 {
  /* Soulignage des titre h2*/
  text-decoration: none;
  transition: background-size 0.5s;
  font-weight: bold;
}
#menu_chic .titre_section_entre {
  background: linear-gradient(to top, #c97b1f 0%, #c97b1f 10%, transparent 10.01%) no-repeat left bottom/0 100%;
}
#menu_chic .titre_section_repas {
  background: linear-gradient(to top, #a56799 0%, #a56799 10%, transparent 10.01%) no-repeat left bottom/0 100%;
}
#menu_chic .titre_section_dessert {
  background: linear-gradient(to top, #6e4ccc 0%, #6e4ccc 10%, transparent 10.01%) no-repeat left bottom/0 100%;
}
#menu_chic h2:hover {
  /* Soulignage des titre h2 (hover)*/
  background-size: 100% 100%;
}
#menu_chic section:nth-child(2) {
  color: #c97b1f;
}
#menu_chic section:nth-child(3) {
  color: #a56799;
}
#menu_chic section:nth-child(4) {
  color: #6e4ccc;
}
#menu_chic table {
  margin-top: 1em;
}

@media only screen and (min-width: 320px) {
  #menu_chic table {
    width: 100%;
  }
  #menu_chic section {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  #menu_chic h2 {
    font-size: 20px;
  }
}
@media only screen and (min-width: 768px) {
  #menu_chic table {
    width: 75%;
  }
  #menu_chic h2 {
    font-size: 26px;
  }
}
@media only screen and (min-width: 1024px) {
  #menu_chic {
    padding: 3em;
  }
}
/* style unique au menu "Chic à la française"*/
/* Couleur du surlignage des catégorie entrée, plats, desserts */
/* Couleur du surlignage des catégorie entrée, plats, desserts */
/* Couleur du surlignage des catégorie entrée, plats, desserts */
/* Fond du menu*/
/* Première couleurs pour le dégradé de certains élément comme le logo*/
/* Deuxième couleurs pour le dégradé de certains élément comme le logo*/
#menu_papilles {
  background-color: #edefef;
  /* couleurs du soulignage des titre*/
  /* couleurs du soulignage des titre*/
  /* couleurs du soulignage des titre*/
}
#menu_papilles h1 {
  margin-top: 1em;
  background: -webkit-linear-gradient(#0228dd, #0989fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#menu_papilles .title_block {
  width: 90%;
}
#menu_papilles h2 {
  /* Soulignage des titre h2*/
  text-decoration: none;
  transition: background-size 0.5s;
  font-weight: bold;
}
#menu_papilles .titre_section_entre {
  background: linear-gradient(to top, #0228dd 0%, #0228dd 10%, transparent 10.01%) no-repeat left bottom/0 100%;
}
#menu_papilles .titre_section_repas {
  background: linear-gradient(to top, #0670f3 0%, #0670f3 10%, transparent 10.01%) no-repeat left bottom/0 100%;
}
#menu_papilles .titre_section_dessert {
  background: linear-gradient(to top, #229df9 0%, #229df9 10%, transparent 10.01%) no-repeat left bottom/0 100%;
}
#menu_papilles h2:hover {
  /* Soulignage des titre h2 (hover)*/
  background-size: 100% 100%;
}
#menu_papilles table {
  margin-top: 1em;
}

@media only screen and (min-width: 320px) {
  #menu_papilles table {
    width: 100%;
  }
  #menu_papilles section {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  #menu_papilles h2 {
    font-size: 20px;
  }
}
@media only screen and (min-width: 768px) {
  #menu_papilles table {
    width: 75%;
    text-align: left;
  }
  #menu_papilles h2 {
    font-size: 26px;
  }
}
@media only screen and (min-width: 1024px) {
  #menu_papilles {
    padding: 3em;
  }
}
/* style unique au menu "Le délice des papilles"*/
/* Couleur du surlignage des catégorie entrée, plats, desserts */
/* Fond du menu*/
/* Première couleurs pour le dégradé de certains élément comme le logo*/
/* Deuxième couleurs pour le dégradé de certains élément comme le logo*/
#menu_palette {
  background-color: #ffffff;
}
#menu_palette h1 {
  margin-top: 1em;
  background: -webkit-linear-gradient(#3d923a, #beff80);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#menu_palette .title_block {
  width: 90%;
}
#menu_palette h2 {
  /* Soulignage des titre h2*/
  text-decoration: none;
  transition: background-size 0.5s;
  background: linear-gradient(to top, #3d923a 0%, #3d923a 10%, transparent 10.01%) no-repeat left bottom/0 100%;
  font-weight: bold;
}
#menu_palette h2:hover {
  /* Soulignage des titre h2 (hover)*/
  background-size: 100% 100%;
}
#menu_palette table {
  margin-top: 1em;
}

@media only screen and (min-width: 320px) {
  #menu_palette table {
    width: 100%;
  }
  #menu_palette section {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  #menu_palette h2 {
    font-size: 20px;
  }
}
@media only screen and (min-width: 768px) {
  #menu_palette table {
    width: 75%;
    text-align: left;
  }
  #menu_palette h2 {
    font-size: 26px;
  }
}
@media only screen and (min-width: 1024px) {
  #menu_palette {
    padding: 3em;
  }
}
/* style unique au menu "Le délice des papilles"*/
article {
  padding: 1em;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}
article i {
  font-size: 75px;
}
article section {
  /*Pour centrer et mettre en colonne les titre et tableaux*/
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3em;
  margin-left: 5%;
  margin-right: 5%;
}
article h1 {
  font-size: 50px;
}
article h3 i {
  /* Taille Logo Pied de menu */
  font-size: 50px;
}

.title_block {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}
.title_block h2 {
  margin-bottom: 0.5em;
}
.title_block img {
  height: 8px;
  width: 25%;
  margin-top: 15px;
}
.title_block .title_right {
  transform: scaleX(-1);
  /* Symétrie de la barre de droite du titre par rapport à celle de gauche */
}

@media only screen and (min-width: 320px) {
  article {
    width: 100%;
    margin: 0px;
  }

  tr {
    display: flex;
    flex-direction: column;
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 30px;
  }

  .title_block {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  article {
    margin: 2em;
  }

  tr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1em;
  }

  td {
    margin-right: 1.5em;
    margin-left: 1.5em;
  }

  main {
    padding: 3em;
  }

  .title_block {
    width: 90%;
  }
}
@media only screen and (min-width: 1024px) {
  article {
    width: 75%;
  }

  .title_block {
    width: 65%;
  }
}
@media only screen and (min-width: 1440px) {
  /* Pour centrer les element dans le tableau*/
  td {
    font-size: 20px;
  }
}
/* SOLUTION POUR METTRE DES LIGNES CLASSIQUE AUTOUR DES TITRES DE SECTION SI LES IMG NE CONVIENNENT PAS !!!
h2, h2::before, h2::after {
    display:inline-block;
    vertical-align: middle;
}
h2::before, h2::after {
    height:2px;
    margin-right: 25px;
    margin-left: 25px;
    width:200px;
    background: rgb(0, 0, 0);
    content:""
}*/
/*Style pour le menu "la note enchantée"*/
/* &couleur_surlignage est défini dans les page style_menu_(nom du menu)*/
footer {
  /* animations des liens mentions légales et Contactez-nous */
}
footer a:hover {
  /* Démarrez l'animation de secousse et faites durer l'animation pendant 0,5 seconde */
  animation: shake 0.3s;
  /* Une fois l'animation terminée, recommencez */
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/* Animation des point de suspension !!! */
#point-suspension:after {
  display: inline-block;
  animation: dotty steps(1, end) 2s infinite;
  content: "";
}
@keyframes dotty {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
  100% {
    content: "";
  }
}

/* Effet de zoom sur une image */
.wprock-img-zoom-hover .wprock-img-zoom {
  overflow: hidden;
  position: relative;
}
.wprock-img-zoom-hover .wprock-img-zoom * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.wprock-img-zoom-hover .wprock-img-zoom img {
  max-width: 100%;
  transition: all 0.8s;
}
.wprock-img-zoom-hover:hover .wprock-img-zoom img {
  transform: scale(1.2);
}

/*Fichier qui gére les animations CSS*/
html {
  height: 100%;
  width: 100%;
}
html body {
  font-family: Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  min-height: 100%;
  margin: 0px;
  padding: 0px;
}

header {
  margin: 0px;
  width: 100%;
  background-color: #579c87;
  border-bottom: solid 2px #539581;
  text-align: center;
  padding: 15px;
}

main {
  text-align: center;
  margin-bottom: 9em;
  width: 100%;
}
main .main-container {
  margin-bottom: 2em;
  /* espace entre les menus et le bouton prochainement*/
  /*img{
      box-shadow: $box-shadow;
      width: 80%;
      margin: 1em;
  }*/
}
main .btn {
  background-color: #579c87;
  color: #fdcb46;
  font-size: 1.5em;
  border-radius: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
}
main #point-suspension {
  font-size: 80px;
  color: #579c87;
}

footer {
  background-color: #579c87;
  color: #fdcb46;
  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0;
  bottom: 0;
}

.wprock-img-zoom-hover {
  /* Pour gérer l'effet zoom sur les menu au survol de la souris */
  margin: 25px auto;
}
.wprock-img-zoom-hover .wprock-img-zoom {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width: 320px) {
  /* Petit écran*/
  header img {
    width: 75%;
  }
}
@media only screen and (min-width: 768px) {
  /*Moyen ecran type tablette*/
  header img {
    width: 50%;
  }
}
@media only screen and (min-width: 1024px) {
  header img {
    width: 30%;
  }

  .wprock-img-zoom-hover {
    max-width: 20%;
  }
}
@media only screen and (min-width: 1440px) {
  header img {
    width: 20%;
  }
}

/*# sourceMappingURL=style.css.map */
